<div>
    <h1
        class="text-center font-bold text-3xl"
        data-aos="fade-down"
        data-aos-offset="300"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out">
        Ngày 1 - Thứ 6, 25/08/2023
    </h1>
    <div class="flex gap-2 pt-5 justify-center">
        <span
            class="des-1 inline-flex items-center rounded-md bg-[#EAFFBD] px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-delay="100"
            data-aos-offset="300"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out">
            TP. Hồ Chí Minh
        </span>
        <i
            class="des-2 fa-solid fa-right-long text-yellow-300 my-auto"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="300"
            data-aos-offset="300"
            data-aos-easing="ease-in-out"></i>
        <span
            class="des-2 inline-flex items-center rounded-md bg-[#EAFFBD] px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="500"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Phan Thiết
        </span>
        <i
            class="des-3 fa-solid fa-right-long text-yellow-300 my-auto"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="700"
            data-aos-offset="300"
            data-aos-easing="ease-in-out"></i>
        <span
            class="des-3 inline-flex items-center rounded-md bg-[#EAFFBD] px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="900"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Phan Rang
        </span>
    </div>
    <div class="timeline">
        <!--first-->
        <div
            class="timeline__event animated fadeInUp delay-3s timeline__event--type1"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-regular fa-clock"></i>
            </div>
            <div class="timeline__event__date">
                <span>4:30 AM</span>
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Tại trường ĐH KHXH & NV (Cơ sở Đinh Tiên Hoàng)
                </div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Quý khách tập trung lúc
                        <strong>4:30</strong>
                        tại
                        <strong>
                            trường ĐH KHXH & NV (Cơ sở Đinh Tiên Hoàng)
                        </strong>
                        , bắt đầu
                        <strong>Hành Trinh Biển Xanh & Mây Mù</strong>
                        .
                    </p>
                </div>
            </div>
        </div>

        <!--second-->

        <div
            class="timeline__event animated fadeInUp delay-2s timeline__event--type2"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="300"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-bus"></i>
            </div>
            <div class="timeline__event__date">
                <span>-----</span>
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Buổi sáng tại Phan Thiết
                </div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Xe khởi hành đi
                        <strong>Phan Thiết</strong>
                        . Quý khách dùng bữa sáng tại và sau đó tham quan
                        <strong>Dinh Vạn Thủy Tú</strong>
                        , nơi nổi tiếng với tục thờ Cá Ông và các nét văn hóa
                        của nghề biển. Tiếp theo quý khách sẽ tiếp tục tìm hiểu
                        về tinh hoa kiến trúc cổ của Chămpa với
                        <strong>Tháp Po Sah Inư</strong>
                        ,
                    </p>
                </div>
            </div>
        </div>

        <!--third-->

        <div
            class="timeline__event animated fadeInUp delay-1s timeline__event--type3"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="500"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <div class="timeline__event__date">
                <span>-----</span>
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Một buổi chiều đầy nghệ thuật
                </div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Đoàn tiếp tục hành trình di chuyển đến
                        <strong>Phan Rang</strong>
                        , trong quá trình đó đoàn sẽ nghỉ chân và ăn trưa. Sau
                        bữa trưa. đoàn sẽ ghé thăm làng gốm
                        <strong>Bàu Trúc & làng dệt Mỹ Nghiệp</strong>
                        , nơi nuôi dưỡng nghề thủ công truyền thống của dân tộc
                        Chăm.
                    </p>
                </div>
            </div>
        </div>

        <!--forth-->

        <div
            class="timeline__event animated fadeInUp timeline__event--type1"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-bed"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Đêm đầu tiên</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Đoàn sẽ dùng bữa tối và lưu trú tại
                        <strong>Khách sạn Ninh Chử 2</strong>
                        .
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h1
        class="text-center font-bold text-3xl"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="50"
        data-aos-offset="300"
        data-aos-easing="ease-in-out">
        Ngày 2 - Thứ 7, 26/08/2023
    </h1>
    <div class="flex gap-2 pt-5 justify-center">
        <span
            class="des-1 inline-flex items-center rounded-md bg-indigo-700 px-2 py-1 text-xl font-medium text-[#EAFFBD] ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Phan Rang
        </span>
        <i
            class="des-2 fa-solid fa-right-long text-yellow-300 my-auto"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="300"
            data-aos-offset="300"
            data-aos-easing="ease-in-out"></i>
        <span
            class="des-1 inline-flex items-center rounded-md bg-indigo-700 px-2 py-1 text-xl font-medium text-[#EAFFBD] ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="500"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Nha Trang
        </span>
    </div>

    <div class="timeline">
        <!--first-->
        <div
            class="timeline__event animated fadeInUp delay-3s timeline__event--type1"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-gopuram"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Tại Phan Rang</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Bắt đầu ngày tham quan thứ hai, đoàn dùng điểm tâm và
                        quý khách tham quan
                        <strong>cụm Tháp Po Klong Garai</strong>
                        , một trong những cụm tháp Chăm đẹp nhất còn sót lại ở
                        Việt Nam.
                    </p>
                </div>
            </div>
        </div>

        <!--second-->

        <div
            class="timeline__event animated fadeInUp delay-2s timeline__event--type2"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-person-running"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Biển xanh và cát trắng</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Đoàn ăn trưa và tiếp tục hành trình đến
                        <strong>Nha Trang</strong>
                        ; tham gia chương trình
                        <strong>Team Building</strong>
                        , nghỉ ngơi tại
                        <strong>Khách sạn Balcony Nha Trang</strong>
                        và ăn tối.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h1
        class="text-center font-bold text-3xl"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="50"
        data-aos-offset="300"
        data-aos-easing="ease-in-out">
        Ngày 3 - Chủ Nhật, 27/08/2023
    </h1>
    <div class="flex gap-2 pt-5 justify-center">
        <span
            class="des-3 inline-flex items-center rounded-md bg-[#EAFFBD] px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Nha Trang
        </span>
        <i
            class="des-2 fa-solid fa-right-long text-yellow-300 my-auto"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="300"
            data-aos-offset="300"
            data-aos-easing="ease-in-out"></i>
        <span
            class="des-3 inline-flex items-center rounded-md bg-[#EAFFBD] px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="500"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Đà Lạt
        </span>
    </div>

    <div class="timeline">
        <!--first-->
        <div
            class="timeline__event animated fadeInUp delay-3s timeline__event--type1"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-mountain-sun"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Tại Phan Thiết</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Đoàn dùng điểm tâm, sau đó tham quan quần thể kiến trúc
                        Chămpa lớn nhất Việt Nam hiện nay -
                        <strong>Tháp Bà Ponagar</strong>
                        . Quý khách sẽ tiếp tục hành trình với điểm đến tiếp
                        theo là
                        <strong>Nhà thờ Núi Nha Trang</strong>
                        , ngôi nhà thờ với nét đẹp bình yên trong kiến trúc cổ
                        điển với 80 năm tuổi đời.
                    </p>
                </div>
            </div>
        </div>

        <!--second-->

        <div
            class="timeline__event animated fadeInUp delay-2s timeline__event--type2"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-church"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Chuyến hành trình về miền đất hứa
                </div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Buổi trưa, quý khách sẽ thưởng thức đặc sản Nha Trang và
                        xe tiếp tuc đưa đoàn thành phố sương mù -
                        <strong>Đà Lạt</strong>
                        và chiêm ngưỡng vẻ đẹp nổi bật, đậm phong cách châu Âu
                        của
                        <strong>nhà thờ Domaine de Marie</strong>
                        và
                        <strong>nhà thờ Con Gà</strong>
                        , một ngôi thánh đường gắn liền với lịch sử của vùng đất
                        này.
                    </p>
                </div>
            </div>
        </div>

        <!--third-->

        <div
            class="timeline__event animated fadeInUp delay-1s timeline__event--type3"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-hotel"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Đêm hè ở Đà Lạt</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Đoàn dùng bữa tối và lưu trú tại khách sạn
                        <strong>Tầm Xuân</strong>
                        .
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h1
        class="text-center font-bold text-3xl"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="50"
        data-aos-offset="300"
        data-aos-easing="ease-in-out">
        Ngày 4 - Thứ 2, 28/08/2023
    </h1>
    <div class="flex gap-2 pt-5 justify-center">
        <span
            class="des-1 inline-flex items-center rounded-md bg-indigo-700 px-2 py-1 text-xl font-medium text-[#EAFFBD] ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-easing="ease-in-out">
            Đà Lạt
        </span>
    </div>

    <div class="timeline">
        <!--first-->
        <div
            class="timeline__event animated fadeInUp delay-3s timeline__event--type1"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-train-subway"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Đoàn tàu lăn bánh</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Ngày 4 bắt đầu với bữa sáng; tham quan
                        <strong>Ga Đà Lạt</strong>
                        và trải nghiệm tuyến xe lửa dài 7km từ
                        <strong>Thành phố Đà Lạt - Trại Mát</strong>
                        , điểm đến là
                        <strong>Chùa Ve Chai</strong>
                        . Tại đây, quý khách sẽ được ngắm nhìn công trình kiến
                        trúc khảm sành độc đáo. Sau đó đoàn sẽ dừng chân và dùng
                        bữa trưa.
                    </p>
                </div>
            </div>
        </div>

        <!--second-->

        <div
            class="timeline__event animated fadeInUp delay-2s timeline__event--type2"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-synagogue"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Om...!,</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Sau bữa trưa, đoàn sẽ tham quan
                        <strong>Cung Nam Phương Hoàng Hậu</strong>
                        , dinh thự của Hoàng hậu Nam Phương hiện lên nổi bật
                        giữa ngút ngàn thông xanh. Điểm đến tiếp theo là
                        <strong>Thiền viện Trúc Lâm Đà Lạt</strong>
                        , nằm trên đỉnh núi Phụng Hoàng, phóng tầm mắt xuống hồ
                        Tuyền Lâm.
                    </p>
                </div>
            </div>
        </div>

        <!--third-->

        <div
            class="timeline__event animated fadeInUp delay-1s timeline__event--type3"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-hotel"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Sương mù như tấm chăn ấm áp
                </div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Xe đưa đoàn đi ăn tối và về khách sạn nghỉ ngơi.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h1
        class="text-center font-bold text-3xl"
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="50"
        data-aos-offset="300"
        data-aos-easing="ease-in-out">
        Ngày 5 - Thứ 3, 29/08/2023
    </h1>
    <div class="flex gap-2 pt-5 justify-center">
        <span
            class="des-3 inline-flex items-center rounded-md bg-[#EAFFBD] px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="100"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Đà Lạt
        </span>
        <i
            class="des-2 fa-solid fa-right-long text-yellow-300 my-auto"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="300"
            data-aos-offset="300"
            data-aos-easing="ease-in-out"></i>
        <span
            class="des-3 inline-flex items-center rounded-md bg-[#EAFFBD] px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="500"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            Tp. Hồ Chí Minh
        </span>
    </div>

    <div class="timeline">
        <!--first-->
        <div
            class="timeline__event animated fadeInUp delay-3s timeline__event--type1"
            data-aos="fade-left"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="300"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-street-view"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">Xúng xính thăm chợ</div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Quý khách ăn sáng và sinh hoạt tự do
                        <strong>(tự túc)</strong>
                        . Sau đó, đoàn tập trung lên xe khởi hành về
                        <strong>TP.HCM</strong>
                        , trong quá trình di chuyển đoàn sẽ dừng nghỉ ngơi và
                        dùng bữa trưa tại nhà hàng.
                    </p>
                </div>
            </div>
        </div>

        <!--second-->

        <div
            class="timeline__event animated fadeInUp delay-2s timeline__event--type2"
            data-aos="fade-right"
            data-aos-duration="1000"
            data-aos-delay="50"
            data-aos-offset="100"
            data-aos-easing="ease-in-out">
            <div class="timeline__event__icon">
                <i class="fa-solid fa-city"></i>
            </div>
            <div class="timeline__event__date">-----</div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Tạm biệt những người bạn mới
                </div>
                <div class="timeline__event__description">
                    <p class="text-justify">
                        Sau đó xe tiếp tục đưa đoàn di chuyển về
                        <strong>TP.HCM</strong>
                        . Đoàn dừng chân tại
                        <strong>
                            Trường ĐHKHXH & NV (cơ sở Đinh Tiên Hoàng)
                        </strong>
                        , chia tay và kết thúc
                        <strong>Hành trình Biển Xanh & Mây Mù</strong>
                        .
                    </p>
                </div>
            </div>
        </div>
    </div>

    <a
        href="/"
        class="fixed left-0 top-1/2 inline-flex items-center px-12 py-3 overflow-hidden text-lg font-medium text-blue-600 border-2 border-blue-600 rounded-full hover:text-white group hover:bg-gray-50">
        <span
            class="absolute left-0 block w-full h-0 transition-all bg-blue-600 opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"></span>
        <span
            class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-0 ease">
            <i class="fa-solid fa-left-long text-white"></i>
        </span>
        <span class="relative">Back</span>
    </a>
</div>
