<section
    id="home"
    class="flex gap-5 justify-between px-10 md:px-32 h-screen bg-slate-200">
    <div class="flex flex-col gap-5 my-10 md:my-64 p-3">
        <h1 class="text-4xl font-bold text-blue-700 drop-shadow-lg">
            Hành Trình Biển Xanh & Mây Mù
        </h1>
        <div class="flex gap-3">
            <i class="fa-solid fa-clock-rotate-left my-auto"></i>
            <h2>
                Hạn chót đăng ký:
                <strong>18/08/2023</strong>
            </h2>
        </div>
        <div class="flex gap-3">
            <i
                class="fa-regular fa-calendar my-auto font-semibold text-gray-500"></i>
            <span class="text-gray-500 font-semibold">
                25/08/2023 - 29/08/2023 - 5 ngày 4 đêm
            </span>
        </div>
        <span class="text-gray-500 border-b border-b-blue-500 border-dashed">
            Giá tour
            <strong class="text-green-600">bao gồm</strong>
        </span>
        <div class="flex gap-5">
            <i class="fa-solid fa-square-check my-auto text-green-600"></i>
            <span>Chi phí di chuyển theo chương trình</span>
        </div>
        <div class="flex gap-5">
            <i class="fa-solid fa-square-check my-auto text-green-600"></i>
            <span>Chi phí ăn uống theo chương trình</span>
        </div>
        <div class="flex gap-5">
            <i class="fa-solid fa-square-check my-auto text-green-600"></i>
            <span>Nước suối phục vụ suốt chuyến đi (2 chai/ngày)</span>
        </div>
        <div class="flex gap-5">
            <i class="fa-solid fa-square-check my-auto text-green-600"></i>
            <span>Chi phí khách sạn</span>
        </div>
        <div class="flex gap-5">
            <i class="fa-solid fa-square-check my-auto text-green-600"></i>
            <span>Vé tham quan các địa điểm</span>
        </div>
        <span class="text-gray-500 border-b border-b-blue-500 border-dashed">
            Giá tour
            <strong class="text-red-600">không bao gồm</strong>
        </span>
        <div class="flex gap-5">
            <i class="fa-solid fa-square-xmark my-auto text-red-600"></i>
            <span>Chi phí phát sinh cá nhân</span>
        </div>
        <div class="flex gap-5">
            <i class="fa-solid fa-square-xmark my-auto text-red-600"></i>
            <span>Chi phí các bữa ăn tự túc</span>
        </div>
        <span class="text-center text-blue-700 font-bold text-3xl">
            3.650.000 VNĐ
        </span>
        <div class="flex gap-3">
            <a
                href="#_"
                class="relative w-2/3 inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-blue-600 transition duration-300 ease-out border-2 rounded-full shadow-md group">
                <span
                    class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-blue-700 group-hover:translate-x-0 ease">
                    <svg
                        class="w-6 h-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg>
                </span>
                <span
                    class="absolute flex items-center justify-center w-full h-full text-[#EAFFBD] bg-blue-700 transition-all duration-300 transform group-hover:translate-x-full ease">
                    Đi thôi nào
                </span>
                <span class="relative invisible">Button Text</span>
            </a>
            <a
                href="/timeline"
                class="relative inline-flex items-center px-12 py-3 overflow-hidden text-lg font-medium text-blue-600 border-2 border-blue-600 rounded-full hover:text-white group hover:bg-gray-50">
                <span
                    class="absolute left-0 block w-full h-0 transition-all bg-blue-600 opacity-100 group-hover:h-full top-1/2 group-hover:top-0 duration-400 ease"></span>
                <span
                    class="absolute right-0 flex items-center justify-start w-10 h-10 duration-300 transform translate-x-full group-hover:translate-x-0 ease">
                    <svg
                        class="w-5 h-5"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg>
                </span>
                <span class="relative text-sm">Lịch Trình</span>
            </a>
        </div>
    </div>
    <div
        class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 my-5 md:my-20 w-1/2 relative">
        <div
            class="relative overflow-hidden bg-cover bg-no-repeat"
            data-te-ripple-init
            data-te-ripple-color="light">
            <img
                class="rounded-t-lg"
                src="/assets/images/thap-cham-ninh-thuan-cover.webp"
                alt="" />
            <a href="#!">
                <div
                    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-[hsla(0,0%,98%,0.15)] bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100"></div>
            </a>
            <div class="flex absolute top-0 right-0">
                <p class="card-price">3.650.000 VNĐ</p>
            </div>
        </div>
        <div class="p-6 overflow-auto flex-1 max-h-full">
            <div class="flex gap-2 py-3">
                <span
                    class="des-1 inline-flex items-center rounded-md border border-[#EAFFBD] px-2 py-1 text-xl font-medium text-blue-500 ring-1 ring-inset ring-blue-700/10"
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-delay="100"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-out">
                    Phan Thiết
                </span>
                <i
                    class="des-2 fa-solid fa-right-long text-yellow-300 my-auto"
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-delay="300"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-out"></i>
                <span
                    class="des-2 inline-flex items-center rounded-md border border-[#EAFFBD] px-2 py-1 text-xl font-medium text-blue-500 ring-1 ring-inset ring-blue-700/10"
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-delay="500"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-out">
                    Phan Rang
                </span>
                <i
                    class="des-3 fa-solid fa-right-long text-yellow-300 my-auto"
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-delay="700"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-out"></i>
                <span
                    class="des-3 inline-flex items-center rounded-md border border-[#EAFFBD] px-2 py-1 text-xl font-medium text-blue-500 ring-1 ring-inset ring-blue-700/10"
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-delay="900"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-out">
                    Nha Trang
                </span>
                <i
                    class="des-3 fa-solid fa-right-long text-yellow-300 my-auto"
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-delay="700"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-out"></i>
                <span
                    class="des-3 inline-flex items-center rounded-md border border-[#EAFFBD] px-2 py-1 text-xl font-medium text-blue-500 ring-1 ring-inset ring-blue-700/10"
                    data-aos="fade-right"
                    data-aos-duration="1000"
                    data-aos-delay="900"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-out">
                    Đà Lạt
                </span>
            </div>
            <p
                class="mb-4 text-base text-neutral-600 dark:text-neutral-200 p-3 rounded-lg shadow shadow-gray-500/50 text-justify"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="900"
                data-aos-offset="300"
                data-aos-easing="ease-in-out">
                📣📣 Lớp Chuyên ngữ du lịch 3 – Khoa Ngữ văn Đức trân trọng gửi
                đến quý thầy cô và các bạn sinh viên những thông tin liên quan
                đến tour du lịch “HÀNH TRÌNH BIỂN XANH & MÂY MÙ” tới vùng đất
                Nam Trung Bộ đầy nắng và gió. Đây là hoạt động và sản phẩm riêng
                của các bạn lớp Tourismus 3 nhằm học hỏi và trải nghiệm.
            </p>
            <p
                class="mb-4 text-base text-neutral-600 dark:text-neutral-200 p-3 rounded-lg shadow shadow-gray-500/50 text-justify"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="900"
                data-aos-offset="300"
                data-aos-easing="ease-in-out">
                🎉🎉 Chỉ với 3.650.000 VND, hãy cùng bắt đầu hành trình 5 ngày 4
                đêm (25.08 – 29.08.2023) thật khó quên cùng chúng mình nheee
            </p>
            <p
                class="mb-4 text-base text-neutral-600 dark:text-neutral-200 p-3 rounded-lg shadow shadow-gray-500/50 text-justify"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="900"
                data-aos-offset="300"
                data-aos-easing="ease-in-out">
                Chương trình sẽ được thuyết minh hoàn toàn bằng tiếng Đức. Tuy
                nhiên sẽ luôn có đội ngũ “phiên dịch viên” để chắc chắn rằng quý
                khách có được trải nghiệm trọn vẹn và thoải mái nhất.
            </p>
            <p
                class="mb-4 text-base text-neutral-600 dark:text-neutral-200 p-3 rounded-lg shadow shadow-gray-500/50 text-justify"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="900"
                data-aos-offset="300"
                data-aos-easing="ease-in-out">
                🪁🪁 Miền Trung luôn nổi tiếng với nét văn hóa độc đáo, cổ xưa
                của vương quốc Chămpa, được thể hiện qua những ngôi đền Chăm đồ
                sộ và tinh xảo. Trong chuyến đi này, chúng ta sẽ được tìm hiểu
                thêm nhiều kiến thức mới lạ, thú vị của những điểm đến tưởng
                chừng như là quen thuộc ở vùng đất này.
            </p>
            <p
                class="mb-4 text-base text-neutral-600 dark:text-neutral-200 p-3 rounded-lg shadow shadow-gray-500/50 text-justify"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="900"
                data-aos-offset="50"
                data-aos-easing="ease-in-out">
                Ngoài ra, từ những tàn tích cổ xưa của Phan Thiết và Phan Rang
                đến hai thành phố sôi động như Nha Trang – Đà Lạt, với trải
                nghiệm đặc biệt là chuyến tàu lửa từ ga Đà Lạt, hành trình này
                mang đến sự pha trộn hoàn hảo giữa lịch sử, văn hóa và vẻ đẹp
                của thiên nhiên.
            </p>
            <p
                class="mb-4 text-base text-neutral-600 dark:text-neutral-200 p-3 rounded-lg shadow shadow-gray-500/50 text-justify"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="900"
                data-aos-offset="50"
                data-aos-easing="ease-in-out">
                🍽 Không chỉ thế, quý khách sẽ được trải nghiệm ẩm thực địa
                phương, thưởng thức các món ăn đặc sản của những vùng đất chúng
                ta đi qua.
            </p>
            <p
                class="mb-4 text-base text-neutral-600 dark:text-neutral-200 p-3 rounded-lg shadow shadow-gray-500/50 text-justify"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-delay="900"
                data-aos-offset="50"
                data-aos-easing="ease-in-out">
                🏃‍♂️🏃‍♀️ Cho dù bạn là khách du lịch một mình, một cặp đôi hay một
                nhóm bạn, chúng mình đảm bảo sẽ mang lại đến cho tất cả hành
                khách một chuyến đi thiệt đáng nhớ, vì thế đừng ngần ngại “xí”
                một chỗ trong chuyến đi này cùng với bọn mình nheeee 🎊🎊
            </p>
        </div>
        <div class="flex gap-3 justify-center pb-5 translate-y-2">
            <a
                href="#_"
                class="relative w-1/2 inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-blue-600 transition duration-300 ease-out border-2 rounded-full shadow-md group">
                <span
                    class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-blue-700 group-hover:translate-x-0 ease">
                    <svg
                        class="w-6 h-6"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
                    </svg>
                </span>
                <span
                    class="absolute flex items-center justify-center w-full h-full text-[#EAFFBD] bg-blue-700 transition-all duration-300 transform group-hover:translate-x-full ease">
                    Đăng ký
                </span>
                <span class="relative invisible">Button Text</span>
            </a>
        </div>
    </div>
</section>

<section
    id="other-infomation"
    class="h-screen py-10 px-10 md:px-32 bg-slate-300">
    <div class="grid grid-cols-12 space-x-5 space-y-10">
        <div class="col-span-6">
            <img
                src="/assets/images/background-Da-Lat.jpg"
                class="w-full h-auto object-cover rounded-lg border-white" />
        </div>
        <div class="col-span-6 flex flex-col justify-center">
            <div class="flex flex-col gap-5">
                <h2 class="text-xl font-bold text-yellow-600">
                    Lưu ý
                </h2>
                <div class="flex gap-2">
                    <span>
                        Thời lượng chương trình:
                        <strong>5 ngày 4 đêm</strong>
                    </span>
                    <i
                        class="fa-solid fa-triangle-exclamation my-auto text-yellow-600"></i>
                </div>
                <div class="flex gap-2">
                    <span>
                        Bắt đầu đón khách từ
                        <strong>4h30 sáng (25.08.2023)</strong>
                    </span>
                    <i
                        class="fa-solid fa-triangle-exclamation my-auto text-yellow-600"></i>
                </div>
                <div class="flex gap-2">
                    <span>
                        Địa điểm đón:
                        <strong>
                            Trường Đại học Khoa Học Xã Hội & Nhân Văn (10-12
                            Đinh Tiên Hoàng, p.Bến Nghé, Q.1. TPHCM)
                        </strong>
                    </span>
                    <i
                        class="fa-solid fa-triangle-exclamation my-auto text-yellow-600"></i>
                </div>
                <div class="flex gap-2">
                    <span>
                        Di chuyển bằng
                        <strong>xe khách 29 chỗ</strong>
                    </span>
                    <i
                        class="fa-solid fa-triangle-exclamation my-auto text-yellow-600"></i>
                </div>
            </div>
        </div>

        <div class="col-span-6">
            <div class="flex flex-col gap-5">
                <h2 class="text-xl font-bold text-yellow-600 text-right">
                    Điều kiện hủy đăng ký và hoàn phí
                </h2>
                <div class="flex gap-2 justify-end">
                    <span class="text-right">
                        Hủy trước
                        <strong>0h 15.08</strong>
                        : hoàn 100% phí
                    </span>
                    <i
                        class="fa-solid fa-triangle-exclamation my-auto text-yellow-600"></i>
                </div>
                <div class="flex gap-2 justify-end">
                    <span class="text-right">
                        Hủy trước
                        <strong>0h 18.08</strong>
                        : hoàn 50% phí
                    </span>
                    <i
                        class="fa-solid fa-triangle-exclamation my-auto text-yellow-600"></i>
                </div>
                <div class="flex gap-2 justify-end">
                    <span class="text-right">
                        Hủy sau
                        <strong>0h 18.08</strong>
                        : không hoàn phí
                    </span>
                    <i
                        class="fa-solid fa-triangle-exclamation my-auto text-yellow-600"></i>
                </div>
            </div>
        </div>
        <div class="col-span-6"></div>
    </div>
</section>
