<div class="main-body flex flex-wrap">
    <div class="left-div h-screen">
        <div class="flex flex-col gap-3 p-3">
            <div class="p-3">
                <img
                    src="../../assets/images/thap-cham-ninh-thuan-cover.webp"
                    class="w-full h-auto rounded-lg object-cover" />
            </div>
            <div class="flex gap-2 pt-5 justify-center">
                <span
                    class="des-1 opacity-0 inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10">
                    Phan Thiết
                </span>
                <i
                    class="des-2 opacity-0 fa-solid fa-right-long text-yellow-300 my-auto"></i>
                <span
                    class="des-2 opacity-0 inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10">
                    Phan Rang
                </span>
                <i
                    class="des-3 opacity-0 fa-solid fa-right-long text-yellow-300 my-auto"></i>
                <span
                    class="des-3 opacity-0 inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10">
                    Nha Trang
                </span>
                <i
                    class="des-4 opacity-0 fa-solid fa-right-long text-yellow-300 my-auto"></i>
                <span
                    class="des-4 opacity-0 inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xl font-medium text-indigo-700 ring-1 ring-inset ring-indigo-700/10">
                    Đà Lạt
                </span>
            </div>
            <div class="flex flex-col gap-5 mt-5 px-2">
                <div class="flex justify-center gap-3">
                    <span class="text-white my-auto">Thời gian</span>
                    <i class="fa-solid fa-calendar-days text-white my-auto"></i>
                    <span class="text-white font-bold text-xl">
                        Tháng 8 / 2023
                    </span>
                </div>
                <div
                    class="flex gap-2 bg-gray-900 backdrop-blur-lg shadow rounded-lg text-white">
                    <div
                        class="flex justify-center items-center px-2 py-2 border border-white rounded-lg w-20">
                        <div class="text-center">
                            <p
                                class="group-hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold duration-300">
                                Thứ 5
                            </p>
                            <p
                                class="group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all duration-300">
                                24
                            </p>
                        </div>
                    </div>
                    <div
                        class="group hover:scale-110 duration-300 cursor-pointer flex justify-center items-center px-2 py-2 border border-indigo-800 rounded-lg w-20 bg-indigo-800">
                        <div class="text-center">
                            <p
                                class="group-hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold duration-300">
                                Thứ 6
                            </p>
                            <p
                                class="group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all duration-300">
                                25
                            </p>
                        </div>
                    </div>
                    <div
                        class="group hover:scale-110 duration-300 cursor-pointer flex justify-center items-center px-2 py-2 border border-indigo-800 rounded-lg w-20 bg-indigo-800">
                        <div class="text-center">
                            <p
                                class="group-hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold duration-300">
                                Thứ 7
                            </p>
                            <p
                                class="group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all duration-300">
                                26
                            </p>
                        </div>
                    </div>
                    <div
                        class="group hover:scale-110 duration-300 cursor-pointer flex justify-center items-center px-2 py-2 border border-indigo-800 rounded-lg w-20 bg-indigo-800">
                        <div class="text-center">
                            <p
                                class="group-hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold duration-300">
                                Chủ nhật
                            </p>
                            <p
                                class="group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all duration-300">
                                27
                            </p>
                        </div>
                    </div>
                    <div
                        class="group hover:scale-110 duration-300 cursor-pointer flex justify-center items-center px-2 py-2 borderborder-indigo-800 rounded-lg w-20 bg-indigo-800">
                        <div class="text-center">
                            <p
                                class="hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold duration-300">
                                Thứ 2
                            </p>
                            <p
                                class="group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all duration-300">
                                28
                            </p>
                        </div>
                    </div>
                    <div
                        class="group hover:scale-110 duration-300 cursor-pointer flex justify-center items-center px-2 py-2 border border-indigo-800 rounded-lg w-20 bg-indigo-800">
                        <div class="text-center">
                            <p
                                class="group-hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold duration-300">
                                Thứ 3
                            </p>
                            <p
                                class="group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all duration-300">
                                29
                            </p>
                        </div>
                    </div>
                    <div
                        class="flex justify-center items-center px-2 py-2 border border-white rounded-lg w-20">
                        <div class="text-center">
                            <p
                                class="group-hover:text-gray-100 text-sm transition-all font-normal group-hover:font-semibold duration-300">
                                Thứ 4
                            </p>
                            <p
                                class="group-hover:text-gray-100 mt-3 group-hover:font-bold transition-all duration-300">
                                30
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="waviy h-screen right-div">
        <div class="flex flex-col justify-center items-center h-full">
            <div class="flex flex-nowrap justify-center line-text-1">
                <span style="--i: 1">H</span>
                <span style="--i: 2">À</span>
                <span style="--i: 3">N</span>
                <span style="--i: 4">H</span>

                <span style="--i: 5" class="!ml-3">T</span>
                <span style="--i: 6">R</span>
                <span style="--i: 7">Ì</span>
                <span style="--i: 8">N</span>
                <span style="--i: 9">H</span>
            </div>
            <div class="flex flex-nowrap line-text-2">
                <span style="--i: 10" class="!ml-3">B</span>
                <span style="--i: 11">I</span>
                <span style="--i: 12">Ể</span>
                <span style="--i: 13">N</span>

                <span style="--i: 14" class="!ml-3">X</span>
                <span style="--i: 15">A</span>
                <span style="--i: 16">N</span>
                <span style="--i: 17">H</span>

                <span style="--i: 18" class="!ml-3">&</span>

                <span style="--i: 19" class="!ml-3">M</span>
                <span style="--i: 20">Â</span>
                <span style="--i: 21">Y</span>

                <span style="--i: 22" class="!ml-3">M</span>
                <span style="--i: 23">Ù</span>
            </div>
        </div>
    </div>
</div>
